<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: transient_registration_convictions_path(@transient_registration.reg_identifier)) %>

    <h1 class="heading-large">
      <%= t(".heading", reg_identifier: @transient_registration.reg_identifier) %>
    </h1>

    <%= link_to t(".approve_button"), "#", class: "button" %>
  </div>
</div>
