<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <h1 class="heading-large">
      <%= t(".heading", reg_identifier: @registration.reg_identifier) %>
    </h1>
  </end>
</end>
