---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"whatever@example.com","template_id":"6d20d279-ba79-4fe0-9868-fb09c4ae7733","personalisation":{"reg_identifier":"CBDU1","first_name":"Jane","last_name":"Doe","expires_on":"24
        May 2026","renew_fee":"130.25","renew_link":"http://localhost:3002/fo/renew/GwbpirxiBsCR2LYdM4869LCd","unsubscribe_link":"http://localhost:3002/fo/unsubscribe/DykjfjEFMZfgVH8LBKyRi3a8"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyNWNiNmI5NC04Y2U3LTQ4NWItOTE4YS01NTlmM2IxOGY2OWMiLCJpYXQiOjE3NzQzNjM0MDJ9.td8ol5D0bmC_i3hCBGLaK60R_CUOnF-qg36CRVGp_1g
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#Renew your waste carrier
        registration by 24 May 2026\r\n\r\n#You can renew online in a few minutes
        at: \r\nhttp://localhost:3002/fo/renew/GwbpirxiBsCR2LYdM4869LCd\r\n\r\nRegistration
        number: CBDU1\r\n\r\nConviction checks could take up to 5 weeks. You should
        plan for this if you have any relevant convictions. \r\n\r\nIf you no longer
        need a waste carrier registration, you can ignore these reminders. You cannot
        transport, buy, sell or dispose of waste without a registration.\r\n\r\n##
        Please note: \r\n\r\nIf you do not renew by 24 May 2026, you\u2019ll need
        to create a new registration which will change your registration number. For
        more information visit: [Register or renew as a waste carrier, broker or dealer
        - GOV.UK](https://www.gov.uk/register-renew-waste-carrier-broker-dealer-england)  \r\n\r\nWaste
        carrier registrations, renewals and associated costs are subject to annual
        increases in line with inflation. \r\n\r\nEnvironment Agency\r\nTelephone
        03708 506 506, Monday to Friday (8am to 6pm)\r\nnccc-carrierbroker@environment-agency.gov.uk\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3002/fo/unsubscribe/DykjfjEFMZfgVH8LBKyRi3a8)\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Renew
        waste carrier registration CBDU1"},"id":"450c5552-de22-4819-90aa-946ccc7d2d18","reference":null,"scheduled_for":null,"template":{"id":"6d20d279-ba79-4fe0-9868-fb09c4ae7733","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/6d20d279-ba79-4fe0-9868-fb09c4ae7733","version":11},"uri":"https://api.notifications.service.gov.uk/v2/notifications/450c5552-de22-4819-90aa-946ccc7d2d18"}

        '
  recorded_at: Tue, 24 Mar 2026 14:43:22 GMT
recorded_with: VCR 6.4.0
