---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"41ebbbc4-0d2f-425a-8d94-29e2beffd8ba","personalisation":{"contact_name":"Jane
        Doe","expiry_date":"6 June 2021","reg_identifier":"CBDU1","registration_cost":"154","renewal_cost":"105","renewal_url":"localhost:3002/fo/renew/ePBEXbag1AMjrsUgfKEbNfYy","user_email":"whatever@example.com","email_date":"2021-04-25","from_email":"wcr-dev@example.com","address_line_1":"Jane
        Doe","address_line_2":"42","address_line_3":"Foo Gardens","address_line_4":"Baz
        City","address_line_5":"BS1 1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - d28e5750-29e9-4642-5795-270d8bace2bc
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\nYou can renew online in a
        few minutes. It costs \u00a3105 and lasts for 3 years from the expiry date.\r\n\r\nHow
        to renew online:\r\n\r\n1. Search your email inbox and junk mail for the renewal
        email sent to whatever@example.com on 2021-04-25, from wcr-dev@example.com\r\n2.
        Confirm details for your renewal\r\n3. Pay for your renewal\r\n\r\nIf you
        do not renew in time you\u2019ll need to create a new registration, which
        will instead cost \u00a3154.\r\n\r\nIf you\u2019re unable to find the renewal
        email, begin your online renewal by using this unique link:\r\n\r\nlocalhost:3002/fo/renew/ePBEXbag1AMjrsUgfKEbNfYy\r\n\r\nYours
        sincerely\r\nWaste carrier renewal team","subject":"You must renew your waste
        carrier registration CBDU1 by 6 June 2021"},"id":"b6628d5c-5869-433e-9096-22ad759d447b","reference":null,"scheduled_for":null,"template":{"id":"41ebbbc4-0d2f-425a-8d94-29e2beffd8ba","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/41ebbbc4-0d2f-425a-8d94-29e2beffd8ba","version":5},"uri":"https://api.notifications.service.gov.uk/v2/notifications/b6628d5c-5869-433e-9096-22ad759d447b"}

'
  recorded_at: Tue, 06 Apr 2021 14:20:09 GMT
recorded_with: VCR 6.0.0
