---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"whatever@example.com","template_id":"51cfcf60-7506-4ee7-9400-92aa90cf983c","personalisation":{"reg_identifier":"CBDU1","first_name":"Jane","last_name":"Doe","expires_on":"26
        June 2021","renew_fee":"105","renew_link":"http://localhost:3002/fo/renew/kGKRKjAbpTufSNQ1T1epDeBw"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - e7382990-eb46-45cb-439e-349f30ccbe9d
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#Renew your waste carrier
        registration by 26 June 2021\r\n\r\nIt costs \u00a3105 and lasts for 3 years.\r\n\r\n#You
        can renew online in a few minutes at: \r\nhttp://localhost:3002/fo/renew/kGKRKjAbpTufSNQ1T1epDeBw\r\n\r\nRegistration
        number: CBDU1\r\n\r\nIf you no longer need a waste carrier registration, you
        can ignore these reminders. You cannot transport, buy, sell or dispose of
        waste without a registration.\r\n\r\nEnvironment Agency\r\nTelephone 03708
        506 506, Monday to Friday (8am to 6pm)\r\nnccc-carrierbroker@environment-agency.gov.uk\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Renew
        waste carrier registration CBDU1"},"id":"4d15f68d-b3a4-49a5-89aa-d36284e964e2","reference":null,"scheduled_for":null,"template":{"id":"51cfcf60-7506-4ee7-9400-92aa90cf983c","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/51cfcf60-7506-4ee7-9400-92aa90cf983c","version":5},"uri":"https://api.notifications.service.gov.uk/v2/notifications/4d15f68d-b3a4-49a5-89aa-d36284e964e2"}

'
  recorded_at: Mon, 26 Apr 2021 11:47:39 GMT
recorded_with: VCR 6.0.0
