---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"simone@example.com","template_id":"6d20d279-ba79-4fe0-9868-fb09c4ae7733","personalisation":{"reg_identifier":"CBDU4466","first_name":"Jane","last_name":"Doe","expires_on":"09
        June 2024","renew_fee":"105","renew_link":"http://localhost:3002/fo/renew/2JPrUomi27CNPL1pgGkwi7V8","unsubscribe_link":"http://localhost:3002/fo/unsubscribe/RHM1ynyyr2aFyPy7DfoALZgB"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIyNWNiNmI5NC04Y2U3LTQ4NWItOTE4YS01NTlmM2IxOGY2OWMiLCJpYXQiOjE3MTI2ODI1MTN9.boXZL1c_pFV2smuBpjZCEvOM_IyQmvkmWugj2tB4Wq8
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#Renew your waste carrier
        registration by 09 June 2024\r\n\r\nIt costs \u00a3105 and lasts for 3 years.\r\n\r\n#You
        can renew online in a few minutes at: \r\nhttp://localhost:3002/fo/renew/2JPrUomi27CNPL1pgGkwi7V8\r\n\r\nRegistration
        number: CBDU4466\r\n\r\nConviction checks could take up to 5 weeks. You should
        plan for this if you have any relevant convictions. \r\n\r\nIf you no longer
        need a waste carrier registration, you can ignore these reminders. You cannot
        transport, buy, sell or dispose of waste without a registration.\r\n\r\nEnvironment
        Agency\r\nTelephone 03708 506 506, Monday to Friday (8am to 6pm)\r\nnccc-carrierbroker@environment-agency.gov.uk\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3002/fo/unsubscribe/RHM1ynyyr2aFyPy7DfoALZgB)\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Renew
        waste carrier registration CBDU4466","unsubscribe_link":null},"id":"85d6da5e-3473-406c-bdb1-69dc1c5091e9","reference":null,"scheduled_for":null,"template":{"id":"6d20d279-ba79-4fe0-9868-fb09c4ae7733","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/6d20d279-ba79-4fe0-9868-fb09c4ae7733","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/85d6da5e-3473-406c-bdb1-69dc1c5091e9"}

        '
  recorded_at: Tue, 09 Apr 2024 17:08:34 GMT
recorded_with: VCR 6.2.0
