<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>

    <p><%= t(".paragraph_1") %></p>

    <%= button_to t(".button"),
                  conviction_imports_path,
                  class: "button" %>
  </div>
</div>
