<% if resource.revoked? %>
  <div class="panel panel-border-wide">
    <h2 class="heading-medium">
      <%= t(".heading.ceased") %>
    </h2>
    <p>
      <%= t(".reason") %> <%= resource.metaData.revoked_reason %>
    </p>
  </div>
<% end %>
