<div class="panel panel-border-wide">
  <h2 class="heading-medium">
    <%= t(".heading.ceased", date: "TODO") %>
  </h2>
  <p>
    <%= t(".person.ceased", person: "TODO") %>
  </p>
  <p>
    <%= t(".reason") %> TODO
  </p>
</div>
