<% if resource.revoked? || resource.inactive? %>
  <div class="panel panel-border-wide">
    <h2 class="heading-medium">
      <% if resource.revoked? %>
        <%= t(".heading.revoked") %>
      <% elsif resource.inactive? %>
        <%= t(".heading.ceased") %>
      <% end %>
    </h2>
    <% if resource.metaData.revoked_reason.present? && can?(:view_revoked_reasons, resource) %>
      <p>
        <%= t(".reason") %> <%= resource.metaData.revoked_reason %>
      </p>
    <% end %>
  </div>
<% end %>
