<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render("waste_carriers_engine/shared/back", back_path: bo_path) %>

    <%= render("shared/flash_messages") %>
  </div>
</div>
